/* header.css */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  cursor: pointer;
}

  .left-section, .middle-secion, .right-section {
  display: flex;
  align-items: center;
  }
  
 