/*  MAIN:  sidebar, barra de navegaciòn  y videos */
main {
  display: grid;
  grid-template-columns: 6% 94%;
}
.section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  cursor: pointer;
  gap: 20px;
}

.lista-en-columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista-en-columna li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Barra de Navegaciòn (Tutti,Musica,ecc*/
.barra-de-navegacion {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  background-color: #ffffff;
}
/*Parrafos*/
.parrafo-destacado {
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
.parrafo {
  background-color: rgba(154, 152, 148, 0.17);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}


/* Seccion videos */
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  cursor: pointer;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video > img {
  border-radius: 20px;
  width: 100%;
}

/*Sirve para dar efecto al video al pasar del mouse
.video:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/

.informacion {
  display: flex;
  margin-left: 10px;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.logo img {
  width: 80%;
}
h3 {
  margin: 0%;
  font-size: 16px;
}
p {
  margin: 0%;
  font-size: 13px;
}

/*QUERY RESPONSIVENESS*/
/* Responsividad */
/* Para pantallas más pequeñas que 1200px */
@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-widht: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .fila > div > input {
    display: none;
  }
  .sidebar {
    display: none;
  }
}

/* Pantallas pequeñas (menores a 480px, móviles) */
@media (max-width: 480px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
  .lista-en-columna li {
    display: none;
  }
}
